body {
    background: rgb(238, 243, 252);
    font-family: 'Roboto', sans-serif;
}

.personal {
    font-weight: bold;
    text-align: center;
    padding: 15px;
    margin: 25px auto;
    max-width: 50%;
    background: white;

}

.mytabs {
    display: flex;
    flex-wrap: wrap;
    max-width: 80%;
    margin: 50px auto;
    padding: 10px;
}

.mytabs input[type="radio"] {
    display: none;
}

.mytabs label {
    padding: 25px;
    background: rgb(204, 204, 204);
    font-weight: bold;
}

.mytabs .tab {
    width: 100%;
    padding: 20px;
    background: white;
    order: 1;
    display: none;
}

.mytabs .tab h2 {
    font-size: 3em;
}

.mytabs input[type="radio"]:checked + label + .tab {
    display: block;
}

.mytabs input[type="radio"]:checked + label {
    background: white;
}
